.plan {
	background: linear-gradient(0deg, rgba(53,59,73,0.6) 0%, rgba(53,59,73,0.6) 100%), url('../images/bg-content-1.jpg');
	background-position: top;
	background-size: cover;
	width: 100%;
	height: 300px;
	position: relative;
}

.plan-text {
	font-size: 35px;
	text-transform: uppercase;
	color: #fff;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-70%, -50%);
}

/*------------Search-----------------*/

.block-search {
	position: absolute;
	bottom: -40px;
	left: 50%;
	transform: translate(-50%);
	width: 60%;
}

.cf:before, .cf:after{
	content:"";
	display:table;
}

.cf:after{
	clear:both;
}

.cf{
	zoom:1;
}    

/* Form wrapper styling */
.search-wrapper {
	width: 100%;
	/*box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);*/
	box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
	display: flex;
}

/* Form text input */

.search-wrapper input {
	padding: 11px 20px;
	border: 0;
	border-radius: 3px 0 0 3px;
	width: 100%;
	height: 80px;
}

.search-wrapper input:focus {
	outline: 0;
	background: #fff;
	/*box-shadow: 0 0 2px rgba(0,0,0,.8) inset;*/
}

.search-wrapper input::-webkit-input-placeholder {
	color: #999;
}

.search-wrapper input:-moz-placeholder {
	color: #999;
}

.search-wrapper input:-ms-input-placeholder {
	color: #999;
}    

/* Form submit button */
.search-wrapper button {
	overflow: visible;
	position: relative;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 80px;
	width: 72px;
	/*font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';*/
	color: white;
	text-transform: uppercase;
	background: #18998e;
	border-radius: 0 3px 3px 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

.search-wrapper button:hover{     
	background: #26867e;
}   

.search-wrapper button:active,
.search-wrapper button:focus{   
	background: #26867e;
	outline: 0;   
}

.search-wrapper button:before { /* left arrow */
	content: '';
	position: absolute;
	border-width: 8px 8px 8px 0;
	border-style: solid solid solid none;
	border-color: transparent #18998e transparent;
	top: 32px;
	left: -6px;
}

.search-wrapper button:hover:before{
	border-right-color: #26867e;
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before{
	border-right-color: #26867e;
}      

.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
	border: 0;
	padding: 0;
}  

.plan-project {
	margin-top: 80px;
	clip-path: none;
	background-color: #fff;
	padding-bottom: 50px;
}  

.plan-detail-text h4 {
	font-size: 28px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

.plan-detail-text > * {
	margin-bottom: 10px;
	line-height: 1.5;
}

.plan-detail-text h5 {
	text-transform: uppercase;
	font-size: 20px;
    font-weight: 500;
}
