/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-------Setup basics CSS---------*/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html {
    font-size: 15px;/* 1rem = 10px */
    /*overflow-x: hidden;*/
    letter-spacing: 0.2px;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    font-weight: 400;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none !important;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

button {
    cursor: pointer;
}

input,
textarea,
button {
    outline: none;
    box-shadow: none;
    font-family: 'Roboto', sans-serif;
}

/*------------Style Here-------------*/

/*------------Navbar------------*/



/*------------Slider--------------*/

.slideshow {
  position: relative;
}

.slider-text .slide-img-1 {
  position: absolute;
  left: 0%;
  top: -30%;
  /*transform: translate(-50%, -50%);*/
  opacity: 0.7;
}

.slider-text .slide-img-2 {
  position: absolute;
  left: 0%;
  top: -45%;
  /*transform: translate(-50%, -50%);*/
  opacity: 0.5;
}

.slider-text .slider-text-note {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: #fff;
}

.slider-text .slider-text-note {
  opacity: 1;
  top: 50%;
  left: 20%;
  width: 325px;
  color: #fff;
}

.slider-text .slider-text-note h2 {
    font-size: 80px;
    font-weight: 300;
}

.slider-text .slider-text-note p.title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 30px 0;
}

.slider-text .slider-text-note .line {
    width: 70px;
    height: 2px;
    background-color: white;
    margin-bottom: 30px;
}

.slider-text .slider-text-note p.description {
    line-height: 21px;
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 50px;
}

.slider-text .slider-text-note .view-more {
    color: white;
    text-decoration: none;
    font-size: 15px;
    border: 1px solid #fff;
    padding: 10px 15px;
    border-radius: 3px;
    display: inline-block;
}

/*.slider-text .slide-img-2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-65%, -50%);
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  opacity: 0.6;
}*/

/*--------------Header--------------*/

.bg-header {
    /*background-image: url('../image/bg-header.png');*/
    width: 100%;
    height: 70px;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav.navbar.navbar-expand-lg {
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
  transition: top 0.4s;
}

.menu-cus {
    line-height: 41px;
}

.navbar-nav .nav-item .nav-link {
    color: #333;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    padding: 0px 10px;
    transition: all 0.5s;
    font-weight: 500;
}
.navbar-nav .nav-item .nav-link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #18998e;
  z-index: 9;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.navbar-nav .nav-item .nav-link:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.navbar-nav .nav-item .nav-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #18998e;
  z-index: 9;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.navbar-nav .nav-item .nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: right;
}

.searchbar {
    color: white;
    padding: 6px 10px;
}

.search-box {
  height: 40px;
  border-radius: 40px;
  background-color: #2f3640;
}

.search-box:hover > .search-txt {
  width: 160px;
  padding: 0 15px;
}

.search-box:hover > .search-btn {
  background-color: white;
  color: #18998e;
}

.search-btn {
  color: #18998e;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  transition: 0.4s;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #fff;
  transition: 0.4s;
  line-height: 40px;
  width: 0;
  float: left;
}

/*---------------Slider--------------*/

.slide-wrap {
  position: relative;
  width: 100%;
  /*height: 100%;*/
  overflow: hidden;
}

/*---------About-----------------*/

.about-title {
  text-align: center;
  padding: 0 0 30px;
}

.about-title h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 10px;
}

.about-icon {
  margin: auto;
  padding: 5px 0 10px;
}

.about-title p {
  font-weight: 700;
}

.about-image {
  border: 2px solid rgba(238, 111, 40, 0.65);
}

.about-block-detail-title {
  color: #18998e;
  font-size: 18px;
  text-align: center;
  padding: 15px;
  font-weight: 500;
}

.about-block-detail-desc {
  text-align: justify;
  line-height: 1.7;
}

.about-block-detail-desc b {
  font-weight: 500;
}

/*----------Field------------*/

.field {
  background: linear-gradient(0deg, rgba(53,59,73,0.5) 0%, rgba(53,59,73,0.5) 100%), url('../image/cta-bg.jpg');
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 500px;
  position: relative;
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
}

.field-title {
  text-align: center;
  margin: 0 0 30px 0px;
}

.field > .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.field-title p {
  color: #fff;
}

.field-title h2 {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.field-block i {
  color: #ffffff;
  padding-right: 13px;
  font-size: 26px;
  line-height: 23px;
  margin-right: 12px;
  border: 2px solid #ccc;
  padding: 10px;
  border-color: #fbdccae6;
  background-color: #18998e;
  box-sizing: content-box;
  border-radius: 50%;
}

.field-block p {
  text-align: justify;
  padding-top: 20px;
  color: #fff;
  line-height: 1.7;
}

.field-block span {
  color: #d2bd56;
  font-weight: 700;
}

/*-----------------Project-----------*/

.about,
.field-full {
  background-color: #f7f7f7;
}

.project {
  background-color: #f7f7f7;
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  padding-bottom: 100px;
}

.project-block {
  margin-bottom: 30px;

}

.project-text {
  line-height: 1.7;
}

.project-text h4 {
  font-weight: 700;
  font-size: 17px;
}

.project-text h4 a {
  color: #333;
}

.project-text p {
  font-weight: 700;
}

.project-text p span {
  color: #18998e;
  font-weight: 700;
}

.grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  /*padding: 1em 0 4em;*/
  /*max-width: 1000px;*/
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h4,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}



/*---------------*/
/***** Jazz *****/
/*---------------*/

figure.effect-jazz {
  /*background: -webkit-linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);*/
  /*background: linear-gradient(-45deg, #000 0%,#000 100%);*/
  /*background: linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);*/
  background: linear-gradient(-45deg, #444 0%,#444 100%);
}

figure.effect-jazz img {
  opacity: 0.9;
}

figure.effect-jazz figcaption::after,
figure.effect-jazz img,
figure.effect-jazz p {
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
}

figure.effect-jazz figcaption::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  content: '';
  opacity: 0;
  -webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
  transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

figure.effect-jazz h2,
figure.effect-jazz p {
  opacity: 1;
  -webkit-transform: scale3d(0.8,0.8,1);
  transform: scale3d(0.8,0.8,1);
}

figure.effect-jazz h2 {
  padding-top: 26%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-jazz p {
  padding: 0.5em 2em;
  text-transform: none;
  font-size: 0.75em;
  opacity: 0;
}

figure.effect-jazz:hover img {
  opacity: 0.7;
  -webkit-transform: scale3d(1.05,1.05,1);
  transform: scale3d(1.05,1.05,1);
}

figure.effect-jazz:hover figcaption::after {
  opacity: 1;
  -webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
  transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
}

figure.effect-jazz:hover h2,
figure.effect-jazz:hover p {
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

.project-block:hover .project-text {
  box-shadow: 1px 1px 20px rgba(0,0,0,0.3);
}

.project-text {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  text-align: center;
  transition: all 0.5s;
}

.project-text > * {
  padding-bottom: 5px;
}

/*-----------------News-----------------*/

.news {
  background-color: #fff;
  /*clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);*/
  padding-bottom: 20px;
}

.news-block {
  position: relative;
  transition: all 0.5s;
  padding-top: 15px;
}

.news-list {
  transition: 0.5s;
}

.news-list.news-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: all 0.5s;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/*.news-block:hover .news-list.news-2 {
  transform: translateY(0);
  opacity: 1;
}*/

/*.news-list.news-1:hover {
  box-shadow: 1px 1px 20px rgba(0,0,0,0.4);
}*/

/*.news-content {
  padding: 10px;
}*/

.news-content .news-title {
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #18998e;
}

.news-list.news-2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /*box-shadow: 0 20px 50px rgba(0,0,0,0.8);*/
  /*background-color: #ccc;*/
  /*transform: translateY(-20px);*/
  /*opacity: 0;*/
  padding: 10px;
}

.news-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-content p {
  line-height: 1.2;
}

.news-content h3 {
  margin-top: 10px;
}

/*.news-content a.news-read-more {
  color: #333;
  padding: 5px;
  border: 1px solid #333;
  display: inline-block;
  border-radius: 3px;
  transition: all 0.3s;
  margin-top: 10px;
}*/

.news-content a.news-read-more:hover {
  color: #fff;
  background-color: #18998e;
  border: none;
}

/*------------Partners---------------*/

.partners {
  background-color: #f7f7f7;
  clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
  padding: 50px 0;
}

/*--------Footer-------------*/

footer {
  padding: 40px 0;
  background: linear-gradient(0deg, rgba(53,59,73,0.9) 0%, rgba(53,59,73,0.8) 100%), url('../image/footer-bg.jpeg');
  background-position: bottom;
  background-size: cover;
}

.footer-title {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
}

.footer-desc {
  font-family: Times;
  color: #fff;
  line-height: 1.5;
  font-style: italic;
  font-size: 16.5px;
  text-align: justify;
}


.footer__wrap {
    background-color: #F2F2F2;
    padding: 25px 0;
}

.footer__wrap-info {
  line-height: 1.5;
}

.footer__wrap-info li,
.footer__detail-service--text li,
.footer__detail-support--text li,
.footer__detail-design--text li {
    color: #333;
    font-size: 15px;
    padding: 3px 0;
    display: flex;
    margin-bottom: 1%;
    /*display: inline-block;*/
}

.footer__wrap-info li {
  display: flex;
  justify-content: flex-start;
}

.footer__wrap-info li span {
  color: #fff;
}

.footer__wrap-info li i.check,
.footer__detail-service--text li i.check,
.footer__detail-support--text li i.check,
.footer__detail-design--text li i.check{
    color: #fff;
    margin-right: 2%;
}

.footer__wrap-info li i.check,
.footer__detail-service--text li i,
.footer__detail-support--text li i,
.footer__detail-design--text li i{
    padding-right: 5px;
}

.footer__wrap-info--text2 {
  color: #fff;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.footer__wrap-info--text2:hover {
  color: #18998e;
  text-decoration: underline;
}

.icon-button {
  background-color: white;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 2.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 2.6rem;
  margin: -1.3rem;
}

/* Icons */
.icon-button i {
  background: none;
  /*color: white;*/
  height: 2.6rem;
  left: 0;
  line-height: 2.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 2.6rem;
  z-index: 10;
}

.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3B5998;
}
.google-plus span {
  background-color: #db5a3c;
}
.tumblr span {
  background-color: #34526f;
}
.instagram span {
  background-color: #517fa4;
}
.youtube span {
  background-color: #bb0000;
}
.pinterest span {
  background-color: #cb2027;
}

.icon-button .icon-twitter {
  color: #4099ff;
}
.icon-button .icon-facebook {
  color: #3B5998;
}
.icon-button .fa-tumblr {
  color: #34526f;
}
.icon-button .icon-google-plus {
  color: #db5a3c;
}
.icon-button .fa-instagram {
  color: #517fa4;
}
.icon-button .fa-youtube {
  color: #bb0000;
}
.icon-button .fa-pinterest {
  color: #cb2027;
}

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus,
.icon-button:hover .fa-tumblr,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-youtube,
.icon-button:hover .fa-pinterest {
  color: white;
}

/*--------Back to top --------------*/

#back-to-top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  background-color: #18998e;
  position: fixed;
  right: 30px;
  bottom: 30px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s;
  z-index: 333;
}

/*------------Icon-------------*/

.social-btns {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.social-btns .btn, .social-btns .btn:before, .social-btns .btn .fab {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fab {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.social-btns .btn.facebook:before {background: #3b5998;}
.social-btns .btn.facebook .fab {color: #3b5998;}

.social-btns .btn.twitter:before {background: #3cf;}
.social-btns .btn.twitter .fab {color: #3cf;}

.social-btns .btn.google:before {background: #dc4a38;}
.social-btns .btn.google .fab {color: #dc4a38;}

.social-btns .btn.linkedin:before {background: #0077B5;}
.social-btns .btn.linkedin .fab {color: #0077B5;}

.social-btns .btn.skype:before {background: #00aff0;}
.social-btns .btn.skype .fab {color: #00aff0;}

.social-btns .btn:focus:before, .social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fab, .social-btns .btn:hover .fab {
  color: #fff;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.social-btns {
  font-size: 0;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s;
  z-index: 999;
}
.social-btns .btn {
  display: inline-block;
  background: #fff;
  width: 50px;
  height: 50px;
  line-height: 36px;
  margin: 5px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 7px 18px -7px rgba(0,0,0,0.18);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.social-btns .btn .fab {
  font-size: 25px;
  vertical-align: middle;
}

.slider-partner {
  margin: 0 5px;
}

.slider-partner .slick-slide {
  border: 1px solid #ccc;
  margin: 0 5px;
  display: flex;
}

.slider-partner img {
  outline: none;
}

  .social-btns {
    font-size: 0;
}
.social-btns {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.social-btns > * {
  margin-bottom: 10px;
}

/*----------Corner---------------*/

.wrapper-img-1 {
  background-image: url('../image/about-11.jpeg');
  height: 250px;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.wrapper-img-2 {
  background-image: url('../image/about-12.png');
  height: 250px;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.wrapper-img-3 {
  background-image: url('../image/about-13.png');
  height: 250px;
  background-position: bottom;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: 12px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #18998e;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #18998e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#18998e), to(#18998e));
  background-image: -webkit-linear-gradient(top, #18998e, #18998e);
  background-image:    -moz-linear-gradient(top, #e86108, #ed7c32);
  background-image:     -ms-linear-gradient(top, #e86108, #ed7c32);
  background-image:      -o-linear-gradient(top, #e86108, #ed7c32);
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top: 3px solid #18998e;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

figcaption h2 a {
  color: #fff;
}

figcaption h2 a:hover {
  color: #fff;
}

span.news-read-more {
  /*color: #fff;*/
  text-transform: uppercase;
  /*border: 1px solid #333;*/
  padding: 10px;
  color: #333;
  background-color: #fff;
  transition: all 0.4s;
}

/*span.news-read-more:hover {
  color: #333;
  background-color: #fff;
}*/

.news-content-div-img {
  position: relative;
  transition: all 0.4s;
}

.news-read-more {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition: all 0.5s;
  text-transform: uppercase;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  background-color: #18998e;
}

/*.news-content:hover .news-content a {
  background-color: #18998e;
  opacity: 0.4;
}*/

.news-content-div-img-img {
  transition: 0.5s all;
}

.news-content > * {
  padding-bottom: 10px;
}

.news-list.news-1:hover {
  box-shadow: 0 0 25px rgba(0,0,0,0.4);
}

.news-content-div-img:hover .news-content-div-img-img {
  /*background-color: rgba(0,0,0,0.5);*/
  filter: brightness(0.7);
}

.news-content-div-img:hover .news-read-more {
  display: block;
  /*background-color: #18998e;*/
}

.read-more-div {
  width: 100%;
  height: 100%;
}

.plan-detail-text > * {
  padding-bottom: 5px;
}

/*-------------------Responsive---------------------*/

@media only screen and (max-width: 1024px) {
  .slide-wrap {
    position: relative;
    width: 100%;
    /*height: 82%; */
    overflow: hidden;
  }

  .slider-text-note h2 {
    font-size: 50px !important;
  }

  .slider-text-note p.title {
    font-size: 20px !important;
  }

  .slider-text .slider-text-note {
    top: 60%;
  }

  /*.block-search {
    width: 80%;
  }*/

  .slider-text {
    display: none;
  }
} 

@media only screen and (max-width: 991px) {
  .about-block-detail {
    margin-bottom: 30px;
  }

  .search-box {
    width: 35% !important;
    margin: auto;
  }

  .slider-text .slider-text-note {
    top: 54%;
  }
  
  .field > .container {
    margin-top: 20px;
  }

  .field {
    height: 600px;
  }

  .field, .project, .partners {
    clip-path: none;
  }

  .project {
    padding-bottom: 50px;
  }

  .partners {
    padding-top: 0;
  }

  .footer .container .row > * {
    margin-bottom: 40px;
  }

  .field-block {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .slider-text .slider-text-note {
    left: 25%;
    top: 58%;
  }

  .slider-text .slider-text-note p.description {
    width: 80%;
    line-height: 1.5;
    font-size: 12px;
    padding-bottom: 20px;
  }

  .slider-text .slider-text-note .view-more {
    font-size: 12px;
  }

  .slide-wrap {
    /*height: 68%;*/
  }

  .field {
    height: 650px;
  }
}

@media only screen and (max-width: 575px) {
  .slide-wrap {
    /*height: 50%;*/
  }

  .slider-text {
    display: none;
  }

  .field {
    height: 850px;
  }
}

@media only screen and (max-width: 425px) {
  .slide-wrap {
    /*height: 45%;*/
  }
}

@media only screen and (max-width: 320px) {
  .about-title h2 {
    font-size: 22px;
  }

  .field-title h2 {
    font-size: 25px;
  }
}
.page-conten-about p{
  line-height: 30px;
  font-size: 16px
}

.error{color: red;padding-left: 10px;padding-top: 5px;}